<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    
    <title>admin</title>
</head>
<body>
    <div class="login">
        <div class="form">
          <button onclick="root()">Root</button>
          <button>AIPPM</button>
          <button>UNSC</button>
          <button>UNGA</button>
          <button>IP</button>
        </div>
      </div>
</body>
</html>
<style>
    button{
        margin: 10px;
    }
</style>
<script>
    function root(){
        
    }
</script>

